<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Card</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

 <style type="text/css">
   .row{height:90px;}

   

   .footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: blue;
   color: white;
   text-align: center;
}

 </style>


</head>
<body> 

<div class="jumbotron">
  <h3 style="text-align: center;">GoYaana Travel Advisory</h3>
</div>

<br><br>

<!--
<div class="container-fluid">
 
   <div class="row">
        <div class="col-2 "></div>
        <div class="aa col-3 bg-warning"><a href="/index.html"></a>India Covid Data </div>
        <div class="col-2 "></div>
        <div class="aa col-3 bg-warning">World Covid data</div>
        <div class="col-2 "></div>
    </div>
</div>

 <br><br><br><br>

<div class="container-fluid">
 
   <div class="row">
        <div class="col-2 "></div>
        <div class="col-3 bg-warning">Advisory</div>
        <div class="col-2 "></div>
        <div class="col-3 bg-warning">Search by lat , long</div>
        <div class="col-2 "></div>
    </div>
 </div>
</div>

-->

          <div class="row">
                <div class="col-sm-6">
                    <div class="card" >
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-subtitle mb-2 text-muted"> Whole Advisory : Latitude , Longitude</h5><br>
                            <button type="button" class="btn btn-primary col-8">Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-muted">Covid-India/World</h5>
                            <!-- Destination --><br>
                            <button type="button" class="btn btn-primary col-8">Search</button>
                        </div>
                    </div>
                </div>
         </div>

  
<br><br><br><br>

         <div class="row">
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <!-- Source -->
                            <h5 class="card-subtitle mb-2 text-muted">Advisory-India</h5><br>
                            <button type="button" class="btn btn-primary col-8">Search</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-subtitle mb-2 text-muted">Advisory-World</h5><br>
                            <!-- Destination -->
                            <button type="button" class="btn btn-primary col-8">Search</button>
                        </div>
                    </div>
                </div>
          </div>



<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer text-center">© 2020 Copyright : &nbsp; GoYaana
  </div> 
  <!-- Copyright -->

</footer>



</body>
</html>
